.head {
    background-color: #4833af;
    height: 90px;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.mapContainer {
    width: 552px;
    height: 502px;
    border: 1px solid black;
    padding: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: #4833af;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.button p {
    transform: translateY(20%);
}
.button.count {
    background-color: #fbfbfb;
    color: black;
    border: 1px solid #CDCDCD;
}
.button:hover {
    background-color: #9a77fc;
}
.button.count:hover {
    background-color: #ececec;
}

.foot {
    position: fixed;
    height: auto;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    opacity: 0.5;
}

.division {
    margin: 0 15%;
    width: 70%;
    height: 10px;
    color: #000000;
}

.background {
    background: #7749F8;
}