

.head {
    background-color: #7749F8;
    height: 90px;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.mapContainer {
    width: 500px;
    height: 500px;
    background-color: #333;
}