.head {
    background-color: #4833af;
    height: 90px;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.mapContainer {
    width: 552px;
    height: 502px;
    border: 1px solid black;
    padding: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    background-color: #4833af;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.button p {
    transform: translateY(20%);
}
.button.count {
    background-color: #fbfbfb;
    color: black;
    border: 1px solid #CDCDCD;
}
.button:hover {
    background-color: #9a77fc;
}
.button.count:hover {
    background-color: #ececec;
}

.button-login {
    background-color: #4833af;
}
.button-login:hover {
    background-color: #9a77fc
}

.foot {
    height: auto;
    bottom: 0;
    margin-bottom: 0;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
}

.division {
    /* margin: 0 15%; */
    /* margin: 0 inherit; */
    /* width: 70% ; */
    height: 10px;
    color: #000000;
}

.loginForm {
    min-height: 100vh;
    background-color: #4833af;
}

.form {
    background-color: white;
    margin: auto;
    width: 460px;
    min-height: 460px;
    height: auto;
    border-radius: 50px;
}

.pointer {
    cursor: pointer;
}

.background {
    background: #4833af;
    width: 100%;
    height: 100vh;
}

.textPostamatus{
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.textUps
{

    margin-top: 5.1%;
    margin-left: 12.8%;

    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 52px;

    color: #FFFFFF;
}

.textZapr
{   
    margin-top: 0.8%;
    margin-left: 12.8%;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;
}

.er404
{
    margin-top: 5.3%;
    margin-left: 12.8%;
}

.buttNaz
{
    margin-top: 4.0%;
    margin-left: 12.8%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;


    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1%;
    text-decoration: none;
    align-items: flex-start;
    display: flex; 
    width: 15%;
    align-items: center;
    justify-content: center;
}
